<div class="card" style="width: 18rem;">
    <img class="card-img-top clickable" src="/img/category/{{ img }}" alt="Picture with {{ categoryName }}">
    <div class="card-body">
        <h2 class="card-title"><a href="/cards-{{ categoryId }}.html" class="category-link clickable">
            {{ categoryName }}</a></h2>
        {{ cards.length }} cards
    </div>
</div>